@media(max-width:1200px){
    .header__titulo1 {
        
        margin-top: -13%;
        margin-left: 7%;
    }
}
@media(max-width:800px){
    .layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .layout__menu{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 15vh;
        
       
       
       
        
    }
    .mapa{
        
            width: 95%;
            height: 30%;
            
            margin: 2%;
              
            margin-top: 17%;
    }
    .menu__logo{
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
    }
    .logo__imagen{
        display: flex;
    width: 110%;
        height: 49%;
        
    }
    .menu__lista,.menu__footer{
        display: none;
    }
    .layout__home{
        width: 100%;
        height: auto;
        overflow-y: scroll;
        background-color: black;
        
    }
    .layout__hamburguesa{
        display: block;
        width: 40%;
        text-align: right;
        margin: 10px;
    }
    .fa-bars,.fa-x{
        color:orangered;
        text-align: right;
        position: absolute;
        margin-left: 125%;
       
            margin-top: -26%;
        
    }
    .fa-x{
        opacity: 0;
        z-index: 999;
    }
    .hamburguesa__click{
        z-index: 999;
    }
    
    .historia__quien{
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }
    
    .historia__texto,.historia__titulo,.quien__imagen{
        width: 90%;
        margin: 0 auto;
    }
    .layout__historia{
        width: 100%;
        height: 120vh;
        overflow-y: scroll;
    }
    .carousel-control-prev {
        margin: -150px;
    }
   .historia__quien--responsive{
    flex-direction: column-reverse;
    
   }
   .historia__decoracion{
    display: none;
   }
   .historia__titulo{
    font-size: 40px;
   }
   .quien__imagen--uno,.quien__imagen--dos,.quien__imagen--tres{
    height: 100%;
    background-size: contain;
   }
   .menu__lista--oculto{
    display: none;
    opacity: 0;
    right: -100%;
}
.menu__lista--visible{
    display: block;
    z-index: 9;
    right: 4%;
    position: absolute;
    opacity: 1;
    right: 0;
    margin-top: 7%;
    background-color: black;
}
.layout__hamburguesa{
    position: absolute;
    z-index: 99;
}
.contenido__pizza, .contenido__chapatones, .contenido__hamburguesas, .contenido__otros {
    text-align: left;
    z-index: 1;
    width: 100%;
}
.contenido__chapatones,.contenido__otros{
    margin-top: 70%;
}
.carta__imagen{
    opacity: 0.5;
}
.header__titulo1{
    display: none;
}
.header__titulo2{
    display: none;
}
.header__titulo--1 {
    margin-right: 70%;
   
  
}
.contenido__articulos{
    flex-basis: 96%;
}
.fa-x{
    z-index: 12;
}
.fa-phone{
    color:#07f907;
    margin-left: 65%;
    position: absolute;
    margin-top: 15px;
}
.fa-file-archive{
    color: white;
    margin-right: -19%;
}

.hamburguesa__img{
    width: 40px;
    height:40px;
    margin-right: -20%;
    margin-top: 15px;
}
.imagen{
    
    height: 60vh;
}

  /*SWIPPER*/
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-wrapper{
    width: 80%;
    height: 80%;
  }
  .home__portada{
    display: block;
    width: 95%;
    height: 30%;
    margin: 8px;
  }
  .portada__imagen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: "portada_imagen" 6 10s;

  }
  @keyframes portada_imagen {
    to{
        filter: grayscale(0);
    }from{
        filter: grayscale(100);
    }

    
  }
  .portada__titulo{
    display: block;
    position: absolute;
    margin-left: 40%;
    margin-top: -50%;
    text-shadow: -2px 2px 2px orangered;
    font-size: 33px;
    font-weight: 900;
    font-family: cursive;
    transition: all 500ms ease-in-out;
    animation: "titulo" infinite 10s;
  }
  @keyframes titulo {
    5%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(0,0);
    } 50%{
        transform: scale(1,1);
    }
    75%{
        transform: scale(0,0);
    }
    
  }
@media(max-width:470px){
    .nav__link--pizza::after{
        content: "Pizzas";
        color:white;

    }
    .nav__link--chapatones::before{
        content: "Bocadillos";
        color:white;
        
    }
    .nav__link--hamburguesa::after{
        content: "Burguer";
        color:white;
        
    }
    .nav__link--otros::after{
        content: "Otros";
        color:white;
        
        
    }
    
    
    .nav__link{
        width:90px ;
        height:90px;
    }
    .fa-bars, .fa-x {
        
        
            margin-left: 115%;
            margin-top: 10%;
          
    }
    .contenido__producto {
        
        width: 94%;
        margin-bottom: 15px;
      
    }
    .header__titulo {
        --minFontSize: 4rem;
        margin-top: 3%;
        
    }
    .portada__oferta{
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
    }
    .oferta__imagen{
        width: 100%;
        flex-basis: 30%;
    }
    .swiper {
        width: 70%;
        height: 60%;
        margin-top: 58% !important;
      }
}
@media(max-width:400px){
    .menu__nav{
        width: 98%;
        padding: 0px;
    }
    .producto__pizza {
        color: var(--color-texto2);
        text-transform: uppercase;
        text-decoration-line:none;
        font-size: 20px;
        
        font-weight: 780;
      }
    .nav__link {
        width: 84px;
        height: 75px;
      }
    .carta__menu{
        height:15vh;
    }
 .chapatones__titulo {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        text-decoration-line: underline;
        margin-top: -70%;
      }
}}